{% block content %}

<section class="footer">
  <div class="w-layout-blockcontainer container w-container">
    <div class="footer-wrap">
      <div class="footer-top">
        <div class="footer-info">
          <a
            href="index.html"
            aria-current="page"
            class="navbar-brand w-nav-brand w--current"
            ><img
              src="https://assets-global.website-files.com/6491518bb88c5c4729ea8883/64b536f3b67156937641aaca_logo-white.svg"
              loading="lazy"
              alt="Readster"
          /></a>
          <div class="footer-text-wrap">
            <h2 class="footer-text">
              Start Your Empowering Reading Adventure
            </h2>
            <div class="button-wrap">
              <a
                data-w-id="5be24591-babb-a75d-4290-bc608d14341f"
                href="contact.html"
                class="primary-btn white-btn w-inline-block"
                ><div>Contact us</div>
                <img
                  src="https://assets-global.website-files.com/6491518bb88c5c4729ea8883/64b50992f5ddcd2d97e7be88_ic-arrow-white.svg"
                  loading="eager"
                  alt="Arrow"
                  class="default-btn-arrow" /><img
                  src="https://assets-global.website-files.com/6491518bb88c5c4729ea8883/64b509579ee5d800c56a7e21_ic-arrow.svg"
                  loading="eager"
                  alt="Arrow"
                  class="hover-btn-arrow"
              /></a>
            </div>
          </div>
        </div>
        <div class="footer-menu">
          <ul role="list" class="footer-link-list w-list-unstyled">
            <li class="footer-link-item">
              <a
                href="index.html"
                aria-current="page"
                class="footer-link w--current"
                >Home</a
              >
            </li>
            <li class="footer-link-item">
              <a href="about-us.html" class="footer-link">About</a>
            </li>
            <li class="footer-link-item">
              <a href="shop.html" class="footer-link">Shop</a>
            </li>
            <li class="footer-link-item">
              <a href="customer-review.html" class="footer-link">Review</a>
            </li>
            <li class="footer-link-item">
              <a href="blog.html" class="footer-link">Blog</a>
            </li>
            <li class="footer-link-item last">
              <a href="category-list.html" class="footer-link">Category</a>
            </li>
          </ul>
          <ul role="list" class="footer-link-list w-list-unstyled">
            <li class="footer-link-item">
              <a href="style-guide.html" class="footer-link">Style Guide</a>
            </li>
            <li class="footer-link-item">
              <a href="licensing.html" class="footer-link">Licesing</a>
            </li>
            <li class="footer-link-item">
              <a href="changelog.html" class="footer-link">Changelog</a>
            </li>
            <li class="footer-link-item">
              <a href="404.html" class="footer-link">Error 404</a>
            </li>
            <li class="footer-link-item">
              <a href="401.html" class="footer-link">Password</a>
            </li>
            <li class="footer-link-item">
              <a href="privacy-policy.html" class="footer-link"
                >Privacy Policy</a
              >
            </li>
            <li class="footer-link-item">
              <a href="return-policy.html" class="footer-link"
                >Return Policy</a
              >
            </li>
            <li class="footer-link-item last">
              <a href="coming-soon.html" class="footer-link">Coming Soon</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-btm-text">
          Designed by
          <a
            href="https://www.nixar.io/"
            target="_blank"
            class="footer-text-link"
            >Nixar</a
          >. Powered by
          <a
            href="https://webflow.com/"
            target="_blank"
            class="footer-text-link"
            >Webflow</a
          >.
        </div>
        <div class="footer-social">
          <a
            href="https://twitter.com/"
            target="_blank"
            class="social-item w-inline-block"
            ><img
              src="https://assets-global.website-files.com/6491518bb88c5c4729ea8883/64b543a48bf9fbe2a98958fb_ic-twitter.svg"
              loading="lazy"
              alt="Twitter
" /></a
          ><a
            href="https://www.facebook.com/"
            target="_blank"
            class="social-item w-inline-block"
            ><img
              src="https://assets-global.website-files.com/6491518bb88c5c4729ea8883/64b543a4ca52f1ecc2fe3a2f_ic-fb.svg"
              loading="lazy"
              alt="Facebook" /></a
          ><a
            href="https://www.youtube.com/"
            target="_blank"
            class="social-item w-inline-block"
            ><img
              src="https://assets-global.website-files.com/6491518bb88c5c4729ea8883/64b543a5a94b48cb24f50385_ic-youtube.svg"
              loading="lazy"
              alt="Youtube
" /></a
          ><a
            href="https://www.instagram.com/"
            target="_blank"
            class="social-item w-inline-block"
            ><img
              src="https://assets-global.website-files.com/6491518bb88c5c4729ea8883/64b543a53d0bfebf09ba61db_ic-ins.svg"
              loading="lazy"
              alt="Instagram
"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}